.product-main-container{
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
    height: auto;
    width: 90%;
    margin: 3rem auto;
	border-radius: 30px;
	contain: content;
	background-image: url("https://i.ibb.co/fYK2cDJ/fondo-cart-button.webp");
	background-size: cover;
	flex: 1;
}

.main-header-product {
    display: inline;
    width: fit-content;
    height: fit-content;
	margin: auto;
	padding-left: 0;
}

.titulo{
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    margin: 1rem 0;
	color: #086bb8;
	text-decoration-style: solid;
	
}

.img-info-container {
	display: block;
	height: auto;
	width: auto;
	margin: auto;
	object-fit: cover;
	flex-shrink: 1;
}

.section-img {
    width: 50%;
    height: 90%;
    display: inline-block;
	background-color: none;
	margin: auto;
	align-items: center;
	contain: content;
	

}

.img-container>.img {
    display: inline-block;
    justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
    width: 18rem;
    height: 18rem;
    margin: auto 1rem;
	border: .5rem solid black;
	border-radius: 30px;
	background-color: rgba(255, 255, 255, 0.719);
	contain: content;
	object-fit: cover;
	flex-shrink: 3;
	aspect-ratio: 1/1;
}
.img {
    margin: auto;
	object-fit: cover;
	aspect-ratio: 3/4;
	padding: 1.5rem;
}

.info-section {
	display: inline-block;
    width: 18rem;
    height: 18rem;
	border: .5rem solid black;
	background-color: rgba(85, 85, 85, 0.801);
	margin: auto 1rem;
	contain: content;
	border-radius: 30px;
	align-items: center;
	flex-shrink: 3;
	aspect-ratio: 1/1;
}
.text-info-container {
    width: 90%;
    height: auto;
    font-weight: 400;
    margin: .5rem auto;
    color: rgb(255, 255, 255);
	/* color: #05253e; */
	contain: content;
	text-align: center;

	.titulo-producto {
		font-size: 2rem;
	}
	.categoria {
		font-size: 1rem;
		text-align: left;
		width: 90%;
	}
	.descripcion {
		font-size: .85rem;
		line-height: 2ch;
		padding: 0 1rem;
		width: 90%;
		text-align: left;
	}
	.precio {
		font-size: 1.5rem;
	}
}

.detail-buttons {
	margin: 1rem auto;
	justify-content: center;
	width: 80%;
	height: fit-content;
	/* background-color: gray; */
	/* border-radius: 25%; */
	/* background-image: url("https://i.ibb.co/fYK2cDJ/fondo-cart-button.webp"); */
	background-size: cover;
	border-image-slice: fill;
}

.info-buttons {
	width: 80%;
	height: fit-content;
	color: whitesmoke;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	
	

	.boton-cantidad {
		display: flex;
		margin: 1rem;
		align-items: center;
		/* justify-content: flex-end; */

		.number-input {
			display: flex;
			width: 5ch;
			border-radius: 10px;
		}
	}

	.container-cart-button {
		display: flex;
		margin: 1rem;
		align-items: center;
		width: 100%;
		height: auto;
		/* justify-content: flex-end; */
	}
	
	
	.animated-button {
		padding: .5rem .75rem;
		background-color: #0d426b;
		border: 2px solid #1e1e1e1a;
		cursor: pointer;
		border-radius: 30px;
		color: whitesmoke;
	}
	
	.animated-button .faCartPlus {
		margin-right: 1rem;
		transition: all 0.3s ease;
	}
	
	.faCartPlus {
		color: whitesmoke;
		padding-left: .25rem;
		font-size: 1.25rem;
	}
	
	.animated-button:hover .faCartPlus {
		transform: scale(1.4);
	}
	

}


/*
estilos boton cart button
*/


.container-cart-button {
	display: flex;
	margin: 1rem auto;
	align-items: center;
	justify-content: center;
}


.animated-button {
	padding: .5rem .75rem;
	background-color: #0d426b;
	border: 2px solid #1e1e1e1a;
	cursor: pointer;
	border-radius: 30px;
	color: whitesmoke;
}

.animated-button .faCartPlus {
	margin-right: 1rem;
	transition: all 0.3s ease;
}

.faCartPlus {
	color: whitesmoke;
	padding-left: .25rem;
	font-size: 1.25rem;
}

.animated-button:hover .faCartPlus {
	transform: scale(1.4);
}


@media  screen and (width < 790px) {
	.product-main-container {
		flex-direction: column;
		contain: content;
		margin: 3.5rem auto;
		width: 100%;
		height: auto;


		.main-header-product {
			flex-direction: row;
			contain: content;
			height: 15%;
			width: 100%;
			margin: auto;
			/* margin-top: 4rem; */

			.titulo {
				font-size: 1.5rem;
				font-weight: 600;
				contain: content;
				margin-top: 1.5rem;

			}

			.img-info-container {
				display: flex;
				flex-direction: column;
				margin: auto;
				width: 80%;
				height: 80%;
				align-items: center;
				justify-content: center;
				contain: content;
				object-fit: cover;
				text-align: center;

				.section-img {
					display: inline-flex;
					flex-direction: column;
					flex-wrap: wrap;
					width: 100%;
					height: 50%;
					margin: 0.5rem;
					align-items: center;
					justify-content: center;
					contain: content;
					text-align: center;
					object-fit: cover;


					.img-container>img {
						display: flex;
						width: 90%;
						height: 40%;
						margin: auto;
						align-items: center;
						justify-content: center;
						object-fit: cover;

						.img {
							display: flex;
							width: 60%;
							height: 30%;
							aspect-ratio: 1/1;
							object-fit: cover;
						}

					}
				}
		
				.info-section {
					display: flex;
					width: 90%;
					height: 20%;
					text-align: center;
					justify-content: center;
					align-items: center;
					margin: auto;
				
					}
				}
			}
			.container-cart-button {
				display: flex;
				margin: .5rem auto;
				align-items: center;
				font-size: 1rem;
				width: 100%;
				height: 20%;
				align-items: center;
				justify-items: center;
			}
		}
}



@media  screen and (width < 600px) {
	.titulo {
		font-size: .75rem;
	}		
	.detail-buttons {
		width: 80%;
		margin: auto;
	}
	.titulo-producto{
		font-size: 1rem;
	}

	.categoria{
		font-size: 0.75rem;
	}
	.descripcion{
		font-size: 0.5rem;
	}
	.precio{
		font-size: 1rem;
	}

	.info-buttons {
		width: 90%;
		margin: 1rem auto;
	}
		.boton-cantidad {
			display: flex;
			margin: .5rem auto;
			align-items: center;
			font-size: 1rem;
	}
			
			.number-input {
				display: flex;
				width: 5ch;
				height: 5ch;
				border-radius: 10px;
			}
			
		
	.container-cart-button {
		display: flex;
		margin: .5rem auto;
		align-items: center;
		font-size: .75rem;
	}
}


		
		
	
