.admin-container {
    padding: 1.5rem;
    display: flex;
    gap: 1rem;
    margin: 3rem;
    width: 100%;
    

    .form-container {
        flex: 0 0 360px;
        background-color: black;

        h1 {
            color: black;
            background-color: rgb(249, 150, 21);
        }


        input {
            color: black;
        }

        option {
            color: black;
        }
    }

    @media screen and (width < 900px) {
        flex-direction: column;
        .form-container {
            order: 1;
        }
    }
}
